In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [ ]:
def gatherIncomeStatement(ticker):
  url = f"https://www.marketwatch.com/investing/stock/{ticker}/financials"
  result = requests.get(url)
  src = result.content
  soup = BeautifulSoup(src, 'html.parser')
  trs = tbody.find_all('tr')
  rows = []
  for tr in trs:
    tds = tr.find_all('td')
    row = [td.text.replace('\n', '').strip() for td in tds]
    rows.append(row)
  years = ['Year', '2017', '2018', '2019', '2020', '2021', '']
  rows.append(years)
  rows = np.array(rows)
  rows = np.transpose(rows)
  columns = rows[0]
  rows = rows[1:len(rows) - 1]
  df = pd.DataFrame(rows, columns = columns)
  df['Company'] = ticker
  return df

In [ ]:
url = "https://www.marketwatch.com/investing/stock/aapl/financials"
result = requests.get(url)

In [ ]:
src = result.content
soup = BeautifulSoup(src, 'html.parser')

In [ ]:
table = soup.find('table', {'class': 'table table--overflow align--right'})

In [ ]:
tbody = table.find('tbody', {'class': 'table__body row-hover'})

In [ ]:
trs = tbody.find_all('tr')

In [ ]:
rows = []
for tr in trs:
  tds = tr.find_all('td')
  row = [td.text.replace('\n', '').strip() for td in tds]
  rows.append(row)

In [ ]:
years = ['Year', '2017', '2018', '2019', '2020', '2021', '']
rows.append(years)

In [ ]:
rows = np.array(rows)

In [ ]:
rows

In [ ]:
rows = np.transpose(rows)

In [ ]:
columns = rows[0]
rows = rows[1:len(rows) - 1]

In [ ]:
rows

In [ ]:
df = pd.DataFrame(rows, columns = columns)

In [ ]:
df['Company'] = 'AAPL'

In [ ]:
companies = ['AAPL', 'NFLX', 'AMZN', 'TSLA', 'MU']
df = pd.DataFrame(columns=columns)

In [ ]:
dfs = []
for company in companies:
  df = gatherIncomeStatement(company)
  dfs.append(df)

Empty DataFrame
Columns: [Sales/RevenueSales/Revenue, Sales GrowthSales Growth, Cost of Goods Sold (COGS) incl. D&ACost of Goods Sold (COGS) incl. D&A, COGS GrowthCOGS Growth, COGS excluding D&ACOGS excluding D&A, Depreciation & Amortization ExpenseDepreciation & Amortization Expense, DepreciationDepreciation, Amortization of IntangiblesAmortization of Intangibles, Gross IncomeGross Income, Gross Income GrowthGross Income Growth, Gross Profit MarginGross Profit Margin, SG&A ExpenseSG&A Expense, SGA GrowthSGA Growth, Research & DevelopmentResearch & Development, Other SG&AOther SG&A, Other Operating ExpenseOther Operating Expense, Unusual ExpenseUnusual Expense, EBIT after Unusual ExpenseEBIT after Unusual Expense, Non Operating Income/ExpenseNon Operating Income/Expense, Non-Operating Interest IncomeNon-Operating Interest Income, Equity in Affiliates (Pretax)Equity in Affiliates (Pretax), Interest ExpenseInterest Expense, Interest Expense GrowthInterest Expense Growth, Gross Interest ExpenseGross Interest Expense, Interest CapitalizedInterest Capitalized, Pretax IncomePretax Income, Pretax Income GrowthPretax Income Growth, Pretax MarginPretax Margin, Income TaxIncome Tax, Income Tax - Current DomesticIncome Tax - Current Domestic, Income Tax - Current ForeignIncome Tax - Current Foreign, Income Tax - Deferred DomesticIncome Tax - Deferred Domestic, Income Tax - Deferred ForeignIncome Tax - Deferred Foreign, Income Tax CreditsIncome Tax Credits, Equity in AffiliatesEquity in Affiliates, Other After Tax Income (Expense)Other After Tax Income (Expense), Consolidated Net IncomeConsolidated Net Income, Minority Interest ExpenseMinority Interest Expense, Net IncomeNet Income, Net Income GrowthNet Income Growth, Net Margin GrowthNet Margin Growth, Extraordinaries & Discontinued OperationsExtraordinaries & Discontinued Operations, Extra Items & Gain/Loss Sale Of AssetsExtra Items & Gain/Loss Sale Of Assets, Cumulative Effect - Accounting ChgCumulative Effect - Accounting Chg, Discontinued OperationsDiscontinued Operations, Net Income After ExtraordinariesNet Income After Extraordinaries, Preferred DividendsPreferred Dividends, Net Income Available to CommonNet Income Available to Common, EPS (Basic)EPS (Basic), EPS (Basic) GrowthEPS (Basic) Growth, Basic Shares OutstandingBasic Shares Outstanding, EPS (Diluted)EPS (Diluted), EPS (Diluted) GrowthEPS (Diluted) Growth, Diluted Shares OutstandingDiluted Shares Outstanding, EBITDAEBITDA, EBITDA GrowthEBITDA Growth, EBITDA MarginEBITDA Margin, Year]
Index: []

[0 rows x 58 columns]